<h1>Users from FakeStoreAPI</h1>

<% if @users_from_api %>
<% @users_from_api.each do |user| %>
<div class="user-card">
    <h3><img src="https://i.pravatar.cc/150?img=<%= user["id"] %>" alt="User Avatar" class="user-avatar"> <%= user["name"]["firstname"] %> <%= user["name"]["lastname"] %></h3>
    <p><span>ID:</span> <%= user["id"] %></p>
    <p><span>Username:</span> <%= user["username"] %></p>
    <p><span>Email:</span> <%= user["email"] %></p>
    <p><span>Phone:</span> <%= user["phone"] %></p>
    <p><span>Address:</span> <%= user["address"]["street"] %>, <%= user["address"]["number"] %>, <%= user["address"]["city"] %>, <%= user["address"]["zipcode"] %></p>
</div>
<% end %>
<% else %>
<p>사용자 데이터를 불러오지 못했습니다.</p>
<% end %>