<p><strong>Name:</strong> <%= @employee.firstname %> <%= @employee.lastname %></p>
<p><strong>Email:</strong> <%= @employee.email %></p>
<p><strong>Phone:</strong> <%= @employee.phone %></p>
<p><strong>Has Passport:</strong> <%= @employee.has_passport %></p>
<p><strong>Salary:</strong> <%= @employee.salary %></p>
<p><strong>Notes:</strong> <%= @employee.notes %></p>
<p><strong>Birth Date:</strong> <%= @employee.birth_date %></p>
<p><strong>Hire Date:</strong> <%= @employee.hire_date %></p>
<p><strong>Gender:</strong> <%= @employee.gender %></p>

<%= link_to 'Edit this employee', edit_employee_path(@employee) %> |
<%= link_to 'Delete this employee', @employee, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %> |
<%= link_to 'Back', employees_path %>